<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/index.css">
    <title>index</title>
</head>
<body>
    {{template "header"}}
    <h3>forum / main</h3><br><br>

  
 
    <!-- <a href="/newcategory">Create Category</a> -->

    <form action="/" method="post">
        <select name="category" id="">
            <option value="">By category</option>
            {{range $title, $id := .Categories}}
                <option value="{{$id}}">{{$title}}</option>
            {{end}}
        </select>
        <select name="owner" id="">
            <option value="">Created by you?</option>
            <option value="yes">Yes</option>
        </select>
        <select name="reaction" id="posts">
            <option value="">By reaction</option>
            <option value="1">like</option>
            <option value="0">dislike</option>
        </select>
        <input type="submit">
    </form>
    <br><br>





    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Posts</th>
                    <th>Author</th>
                    <th>Created</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                {{range .AllPosts}}
                <tr>
                    <td><a href="post/{{.ID}}"> {{.Title}}</a></td>
                    <td>{{.Author}}</td>
                    <td>{{.TimeCreation}}</td>
                    <td>1</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>


</body>
</html>