<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h3>login page</h3>
    <form action="/login" method="post">
        {{if .Email}}
            <input type="email" name="uemail" placeholder="Email" value="{{.Email}}">
        {{else}}
            <input type="email" name="uemail" placeholder="Email">
        {{end}}
        <input type="password" name="upass" placeholder="Password">
        <input type="submit">
        <br><br>
    </form>
    
    <a href="/register">signup</a>
    <br><br>
   
    {{if .}}
        <p>{{.Msg}}</p>
    {{end}}
</body>
</html>