<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
</head>
<body>
    <h2>Post:</h2>
    <h2>{{.Title}} - {{.Author}} - {{.TimeCreation}}</h2>
    <form action="/postreaction" method="post">
        <button type="submit" name="reaction" value="1">like</input>
        <button type="submit" name="reaction" value="0">dislike</button>
        <input hidden name="postID" value="{{.ID}}">
    </form>
 
    <br><br>
    <h3>Categories:</h3>
    {{range .Categories}}
        <p>{{.}}</p>
    {{end}}
    <br><br>
    <h3>Comments</h3>
    {{range .Comments}}
        {{.Author}} - {{.Content}} - {{.TimeCreation}} <br>
        <form action="/commentreaction" method="post">
            <button type="submit" name="reaction" value="1">like</input>
            <button type="submit" name="reaction" value="0">dislike</button>
            <input hidden name="commID" value="{{.CommID}}">
        </form><br>
        {{end}}
    <br><br>

    <form action="/comment" method="post">
        <input type="text" name="content" placeholder="Leave a comment">
        <input hidden name="postID" value="{{.ID}}">
        <input type="submit">
    </form><br>
    <a href="/">BACK</a>
</body>
</html>